body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(assets/rainbowSky.png);
  background-size: 200%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.lineUpButton{
  padding:5px 12px;
  float:left;
  font-weight: bold;
}

.topbar{
  height:32px;
  background-color: #FF80AB;
}
.title{
  color: white;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

#twinkle{
  border: none;
}