body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(assets/rainbowSky.png);
  background-size: 200%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.lineUpButton, .interactButton{
  padding:5px 12px;
  float:left;
  font-weight: bold;
}

.topbar{
  height:32px;
  background-color: #FF80AB;
}
.title{
  color: white;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

#twinkle{
  border: none;
}

#blinky{
  height: 80px;
  width: 80px;
  border: none;
}

#balloon {
  height: 80px;
  width: 80px;
  border: none;
}

/*.parallax { 
    background-image: url('/Users/amoschen/Desktop/hrsf78-subclass-dance-party/ruins.png');
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
  height: 100%;
  min-height: 500px;
  
  background-color: hsl(0,80,40);
  
  background-image:
    radial-gradient(
      circle,
      transparent 40%,
      #999 40%,
      #999 41%,
      transparent 0
      ),
    radial-gradient(
      circle,
      transparent 40%,
      #999 40%,
      #999 41%,
      transparent 0
      ),
    radial-gradient(
      circle,
      transparent 40%,
      #999 40%,
      #999 41%,
      transparent 0
      ),
    radial-gradient(
      circle,
      transparent 40%,
      #999 40%,
      #999 41%,
      transparent 0
      ),
    radial-gradient(
      circle,
      transparent 40%,
      #999 40%,
      #999 41%,
      transparent 0
      ),
    radial-gradient(
      circle,
      transparent 40%,
      #999 40%,
      #999 41%,
      transparent 0
      ),
    radial-gradient(
      circle,
      transparent 40%,
      #999 40%,
      #999 41%,
      transparent 0
      );
  
  background-position:
    50% 50%;
  background-size:
    200% 200%,
    150% 150%,
    100% 100%,
    60% 60%,
    40% 40%,
    20% 20%,
    5% 5%;
  background-repeat: no-repeat;
  
  animation: 1s impact linear infinite;
  }

@keyframes impact {
  0% {    
    background-size:
      200% 200%,
      150% 150%,
      100% 100%,
      60% 60%,
      40% 40%,
      20% 20%,
      5% 5%;
    }
  100% {    
    background-size:
      250% 250%,
      200% 200%,
      150% 150%,
      100% 100%,
      60% 60%,
      40% 40%,
      20% 20%;
    }
  }*/